<button (click)="generateYearlyStats()">Generate Stats</button>
<div class="d-flex justify-content-center">
    @if (!hasErrors) {
        @if (athletes.length){
            <table class="table table-striped table-hover w-50 place-center">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @for (athlete of athletes; track athlete.id) {
                        <tr routerLink="/athletes/{{athlete.id}}" target="_blank" class="clickable">
                            <td>{{Position[athlete.position]}}</td>
                            <td>{{athlete.team.name}}</td>
                            <td>{{athlete.firstName}} {{athlete.lastName}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    } @else {
        <div>
            <p>There were errors, please try again later</p>
        </div>
    }
</div>
