bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
client/.editorconfig
/client/.vscode
API/appsettings.Development.json
API/appsettings.json
API/Properties/launchSettings.json
client/src/environments/environment.ts
/client/src/environments
/client/ssl
docker-compose.yml
