@if (team) {
    <div>
        @if (team.name) {
            <h2>{{team.name}}</h2>
        }
        <h4 routerLink="/players/{{team.player.id}}">{{team.player.firstName}} {{team.player.lastName}}</h4>
        <fa-icon [icon]="faEdit" class="btn" (click)="openEditModal()"></fa-icon>
        <fa-icon [icon]="faPlus" class="btn" (click)="openAddAthleteModal()"></fa-icon>
        <section>
            <div>
                <h5>Team:</h5>
                <ul>
                    @for(athlete of team.athletes; track athlete.id){
                        <p>{{athlete.firstName}} {{athlete.lastName}}</p>
                    }
                </ul>
            </div>
        </section>
    </div>
}
