@if (team) {
    <div>
        <div>
            <h2>
                <fa-icon class="btn" [icon]="faCircleLeft" routerLink="/leagues/{{leagueId}}" />
                {{team.name}}
            </h2>
        </div>
        <h4 routerLink="/players/{{team.player.id}}">{{team.player.appUser.userName}}</h4>
        <fa-icon [icon]="faEdit" class="btn" (click)="openEditModal()"/>
        <fa-icon [icon]="faPlus" class="btn" (click)="openAddAthleteModal()"/>
        <section>
            <div>
                <h5>Team:</h5>
                <ul>
                    @for(athlete of team.athletes; track athlete.id){
                        <p>{{athlete.firstName}} {{athlete.lastName}}</p>
                    }
                </ul>
            </div>
        </section>
    </div>
}
