@if (team) {
    <section class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <fa-icon class="btn" [icon]="faCircleLeft" routerLink="/leagues/{{leagueId}}" />
            <h2>{{team.name}}</h2>
        </div>
        <div>
            <button class="btn" routerLink="/players/{{team.player.id}}">{{team.player.appUser.userName}}</button>
            <fa-icon [icon]="faEdit" class="btn" (click)="openEditModal()"/>
        </div>
    </section>
    
    <section>
        <div>
            <table class="table table-striped table-hover w-25">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th class="text-center"><fa-icon [icon]="faPlus" class="btn" (click)="openAddAthleteModal()"/></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>Starters</tr>
                    @for (athlete of team.roster.starters; track athlete.id) {
                        <tr>
                            <td>{{Position[athlete.position]}}</td>
                            <td>
                                <a routerLink="/athletes/{{athlete.id}}" target="_blank">{{athlete.firstName}} {{athlete.lastName}}</a>
                            </td>
                            <td class="text-center">
                                <fa-icon (click)="dropAthlete(athlete.id)" [icon]="faTrashCan"/> 
                                <fa-icon (click)="moveToBench(athlete.id)" [icon]="faArrowDown"/>
                            </td>
                        </tr>
                    }
                    <tr>Bench</tr>
                    @for (athlete of team.roster.bench; track athlete.id) {
                        <tr>
                            <td>{{Position[athlete.position]}}</td>
                            <td>
                                <a routerLink="/athletes/{{athlete.id}}" target="_blank">{{athlete.firstName}} {{athlete.lastName}}</a>
                            </td>
                            <td class="text-center">
                                <fa-icon (click)="dropAthlete(athlete.id)" [icon]="faTrashCan"/>
                                <fa-icon (click)="moveToStarters(athlete.id)" [icon]="faArrowUp"/>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </section>
}
