<main class="d-flex flex-column align-items-center justify-content-center">
    @if (leagues !== undefined) {
        <table class="table table-striped table-hover w-50">
            <thead>
                <tr>
                    <th>Leagues</th>
                    <th>
                        <div class="float-end">
                            <fa-icon class="btn" (click)="openCreateLeagueModal()" [icon]="faAdd"/>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (hasErrors) {
                    <tr><td>There are errors, please refresh the page to try again</td></tr>
                }
                @else if (leagues.length) {
                    @for(league of leagues; track league.id){
                        <tr [routerLink]="league.id">
                            <td>{{league.name}}</td>
                            <td></td>
                        </tr>
                    }
                } @else if (leagues){
                    <tr>
                        <td>There are no Leagues yet.</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</main>
