@if (league) {
    @if (league.teams.length >= 2) {
        <div id="trade-container">
            
            <section class="d-flex flex-column gap-3 w-75">
                <div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>
                                @if (league.teams.length > 2){
                                    <select class="form-select" (change)="updateTeam($event, sendingTeam)" [value]="sendingTeam?.id">
                                        <option class="d-none" value="{{sendingTeam?.team?.id}}">{{sendingTeam?.team?.name}}</option>
                                        @for (team of options; track team.id) {
                                            <option value="{{team.id}}">{{team.name}}</option>
                                        }
                                    </select>
                                }
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                            @for (athlete of sendingTeam?.team?.roster?.starters; track athlete.id) {
                                <tr>
                                    <td>{{Position[athlete.position]}}</td>
                                    <td>{{athlete.firstName}} {{athlete.lastName}}</td>
                                    <td>
                                        <input class="form-check-input float-end" id="receiving-team-{{athlete.id}}" type="checkbox" (change)="updateOffer(athlete.id, sendingTeam?.offer)">
                                    </td>
                                </tr>
                            }
                            @for (athlete of sendingTeam?.team?.roster?.bench; track athlete.id) {
                                <tr>
                                    <td>{{Position[athlete.position]}}</td>
                                    <td>{{athlete.firstName}} {{athlete.lastName}}</td>
                                    <td>
                                        <input class="form-check-input float-end" id="receiving-team-{{athlete.id}}" type="checkbox" (change)="updateOffer(athlete.id, sendingTeam?.offer)">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>


            <section class="align-self-center flex-shrink-0">
                <button class="btn" [disabled]="!receivingTeam?.offer?.size || !sendingTeam?.offer?.size" (click)="submitTrade()">Submit Trade</button>
            </section>
            
            
            <section class="d-flex flex-column gap-3 w-75">
                
                <div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Name</th>
                                <th>
                                    @if (league.teams.length > 2){
                                        <select class="form-select" (change)="updateTeam($event, receivingTeam)" [value]="receivingTeam?.id">
                                            <option class="d-none" value="{{receivingTeam?.team?.id}}">{{receivingTeam?.team?.name}}</option>
                                            @for (team of options; track team.id) {
                                                <option value="{{team.id}}">{{team.name}}</option>
                                            }
                                        </select>
                                    }
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @for (athlete of receivingTeam?.team?.roster?.starters; track athlete.id) {
                                <tr>
                                    <td>{{Position[athlete.position]}}</td>
                                    <td>{{athlete.firstName}} {{athlete.lastName}}</td>
                                    <td>
                                        <input class="form-check-input float-end" id="receiving-team-{{athlete.id}}" type="checkbox" (change)="updateOffer(athlete.id, receivingTeam?.offer)">
                                    </td>
                                </tr>
                            }
                            @for (athlete of receivingTeam?.team?.roster?.bench; track athlete.id) {
                                <tr>
                                    <td>{{Position[athlete.position]}}</td>
                                    <td>{{athlete.firstName}} {{athlete.lastName}}</td>
                                    <td>
                                        <input class="form-check-input float-end" id="receiving-team-{{athlete.id}}" type="checkbox" (change)="updateOffer(athlete.id, receivingTeam?.offer)">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    } @else {
        <h4>There are not enough teams in this league for a trade</h4>
    }
}


