<div class="container">
    
    <dl class="w-25">
        <dt>Current Week</dt><dd>{{siteSettingsService.currentWeek()}}</dd>
        <dt>Current Season</dt><dd>{{siteSettingsService.currentSeason()}}</dd>
    </dl>
    
    <div class="d-flex gap-1">
        <button class="btn btn-primary" (click)="generateWeeklyStats()">Generate Week {{siteSettingsService.currentWeek()}} Stats</button>
        <button class="btn btn-primary" (click)="finalizeWeeklyGames()">Finalize Week {{siteSettingsService.currentWeek()}} Games</button>
        <button class="btn btn-primary" (click)="advanceWeek()">Advance Week</button>
        <button class="btn btn-primary" (click)="completeSeason()">Complete Season</button>
    </div>
    
</div>


