@if (athlete) {
    <div>
        <h1>{{Position[athlete.position]}} {{athlete.firstName}} {{athlete.lastName}}</h1>
        
        <section>
            <h4>Stats:</h4>
            @if (athlete.weeklyStats.length) {
                 <table class="table table-striped table-hover text-center">
                     <thead>
                         <tr>
                             <th>Week</th>
                             <th>Rec.</th>
                             <th>Rec. Yards</th>
                             <th>Rec. Tds</th>
                             <th>Pass Yards</th>
                             <th>Pass Tds</th>
                             <th>Rush Yards</th>
                             <th>Rush Tds</th>
                             <th></th>
                         </tr>
                     </thead>
                     <tbody>
                        @for (stats of athlete.weeklyStats; track stats.week) {
                            <tr>
                                <td>{{stats.week}}</td>
                                <td>{{stats.receptions}}</td>
                                <td>{{stats.receivingYards}}</td>
                                <td>{{stats.receivingTouchdowns}}</td>
                                <td>{{stats.passingYards}}</td>
                                <td>{{stats.passingTouchdowns}}</td>
                                <td>{{stats.rushingYards}}</td>
                                <td>{{stats.rushingTouchdowns}}</td>
                                <td><fa-icon [icon]="faEdit" (click)="openUpdateStatsModal(stats)"/></td>
                            </tr>
                        }
                     </tbody>
                     <tfoot>
                        <tr>
                            <td>Totals:</td>
                            <td>{{athlete.seasonStats.receptions}}</td>
                            <td>{{athlete.seasonStats.receivingYards}}</td>
                            <td>{{athlete.seasonStats.receivingTouchdowns}}</td>
                            <td>{{athlete.seasonStats.passingYards}}</td>
                            <td>{{athlete.seasonStats.passingTouchdowns}}</td>
                            <td>{{athlete.seasonStats.rushingYards}}</td>
                            <td>{{athlete.seasonStats.rushingTouchdowns}}</td>
                            <td></td>
                        </tr>
                     </tfoot>
                 </table>   
            } @else {
                <div>
                    <p>No stats for this season</p>    
                </div>
            }
        </section>
    </div>
}

