<div class="clickable">
    
</div>

@if (game) {
    <section id="game-header">
        <h2>Week {{game.week}} - {{game.home.name}} vs {{game.away.name}}</h2>
    </section>
    
    <section id="game-container">
        <div>
            <h4>{{game.home.name}}</h4>    
            <table class="table-hover table-striped table">
                <thead>
                    <th></th>
                    <th></th>
                    <th class="text-center">Rec</th>
                    <th class="text-center">Rec Yds</th>
                    <th class="text-center">Rec Tds</th>
                    <th class="text-center">Pass Yds</th>
                    <th class="text-center">Pass Tds</th>
                    <th class="text-center">Rush Yds</th>
                    <th class="text-center">Rush Tds</th>
                    <th class="text-center">Score</th>
                </thead>
                <tbody>
                    @for (athlete of game.home.athletes; track athlete.id) {
                        <tr>
                            <td>{{Position[athlete.position]}}</td>
                            <td>{{athlete.firstName}} {{athlete.lastName}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.receptions}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.receivingYards}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.receivingTouchdowns}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.passingYards}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.passingTouchdowns}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.rushingYards}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.rushingTouchdowns}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="float-end">Total Score: {{game.homeScore}}</div>
        </div>
        <div>
            <h4>{{game.away.name}}</h4>    
            <table class="table-hover table-striped table">
                <thead>
                    <th></th>
                    <th></th>
                    <th class="text-center">Rec</th>
                    <th class="text-center">Rec Yds</th>
                    <th class="text-center">Rec Tds</th>
                    <th class="text-center">Pass Yds</th>
                    <th class="text-center">Pass Tds</th>
                    <th class="text-center">Rush Yds</th>
                    <th class="text-center">Rush Tds</th>
                    <th class="text-center">Score</th>
                </thead>
                <tbody>
                    @for (athlete of game.away.athletes; track athlete.id) {
                        <tr>
                            <td>{{Position[athlete.position]}}</td>
                            <td>{{athlete.firstName}} {{athlete.lastName}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.receptions}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.receivingYards}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.receivingTouchdowns}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.passingYards}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.passingTouchdowns}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.rushingYards}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.rushingTouchdowns}}</td>
                            <td class="text-center">{{getAthleteStats(athlete.id)?.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="float-end">Total Score: {{game.awayScore}}</div>
        </div>
    </section>
}
