@if (game) {
    <section id="game-header">
        <div class="d-flex">
            <fa-icon class="btn" [icon]="faCircleArrowLeft" routerLink="/leagues/{{leagueId}}"/>
            <h3>Week {{game.week}} - {{game.home.name}} vs {{game.away.name}}</h3>
        </div>
    </section>
    
    <section id="game-container">
        <div>
            <h4>{{game.home.name}}</h4>    
            <table class="table-hover table-striped table">
                <thead>
                    <th></th>
                    <th></th>
                    <th class="text-center">Rec</th>
                    <th class="text-center">Rec Yds</th>
                    <th class="text-center">Rec Tds</th>
                    <th class="text-center">Pass Yds</th>
                    <th class="text-center">Pass Tds</th>
                    <th class="text-center">Rush Yds</th>
                    <th class="text-center">Rush Tds</th>
                    <th class="text-center">Score</th>
                </thead>
                <tbody>
                    @for (athlete of game.home.roster.starters; track athlete.id) {
                        @let stats = getAthleteStats(athlete.id);
                        <tr>
                            <td>{{Position[athlete.position]}}</td>
                            <td>{{athlete.firstName}} {{athlete.lastName}}</td>
                            <td class="text-center">{{stats?.receptions}}</td>
                            <td class="text-center">{{stats?.receivingYards}}</td>
                            <td class="text-center">{{stats?.receivingTouchdowns}}</td>
                            <td class="text-center">{{stats?.passingYards}}</td>
                            <td class="text-center">{{stats?.passingTouchdowns}}</td>
                            <td class="text-center">{{stats?.rushingYards}}</td>
                            <td class="text-center">{{stats?.rushingTouchdowns}}</td>
                            <td class="text-center">{{stats?.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="float-end">Total Score: {{game.homeScore}}</div>
        </div>
        <div>
            <h4>{{game.away.name}}</h4>    
            <table class="table-hover table-striped table">
                <thead>
                    <th></th>
                    <th></th>
                    <th class="text-center">Rec</th>
                    <th class="text-center">Rec Yds</th>
                    <th class="text-center">Rec Tds</th>
                    <th class="text-center">Pass Yds</th>
                    <th class="text-center">Pass Tds</th>
                    <th class="text-center">Rush Yds</th>
                    <th class="text-center">Rush Tds</th>
                    <th class="text-center">Score</th>
                </thead>
                <tbody>
                    @for (athlete of game.away.roster.starters; track athlete.id) {
                        @let stats = getAthleteStats(athlete.id);
                        <tr>
                            <td>{{Position[athlete.position]}}</td>
                            <td>{{athlete.firstName}} {{athlete.lastName}}</td>
                            <td class="text-center">{{stats?.receptions}}</td>
                            <td class="text-center">{{stats?.receivingYards}}</td>
                            <td class="text-center">{{stats?.receivingTouchdowns}}</td>
                            <td class="text-center">{{stats?.passingYards}}</td>
                            <td class="text-center">{{stats?.passingTouchdowns}}</td>
                            <td class="text-center">{{stats?.rushingYards}}</td>
                            <td class="text-center">{{stats?.rushingTouchdowns}}</td>
                            <td class="text-center">{{stats?.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="float-end">Total Score: {{game.awayScore}}</div>
        </div>
    </section>
}
