<div>
    @if (league) {
        <section class="d-flex justify-content-between align-items-center">
            <h1>{{league.name}}</h1>
            <div>
                <fa-icon class="btn" title="Add Team" (click)="addTeam()" [icon]="faAdd"/>
                <fa-icon class="btn" title="Trade Athletes" routerLink="trade" [icon]="faShuffle"></fa-icon>
                <fa-icon class="btn" title="Start League" (click)="startLeague()" [icon]="faPlay"></fa-icon>
                <fa-icon class="btn" title="Join Draft" routerLink="live-draft" [state]="{league}" [icon]="faRightToBracket"></fa-icon>
                <fa-icon class="btn" title="Create Schedule" (click)="createSchedule()" [icon]="faCalendarAlt"/>
                <fa-icon class="btn" title="Settings" routerLink="/admin/league-settings/{{league.id}}" [icon]="faGear"/>
            </div>
        </section>
        
        <section id="section-league-info" class="container">
            @if (league.teams.length) {
                <div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Team</th>
                                <th>Owner</th>
                                <th>Record</th>
                            </tr>
                        </thead>
                        <tbody>                    
                            @for (team of league.teams; track team.id) {
                                <tr class="clickable" routerLink="user-teams/{{team.id}}">
                                    <td>{{team.name}}</td>
                                    <td>{{team.player.userName}}</td>
                                    <td>{{team.wins}}-{{team.losses}}-{{team.ties}}</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Name</th>
                                <th>
                                    <select class="form-select form-select-sm float-end" (change)="handleUpdateTeams($event)" [value]="currentTeam?.id">
                                        <option class="d-none" value="{{currentTeam?.id}}">{{currentTeam?.name}}</option>
                                        @for (team of league.teams; track team.id) {
                                            <option value="{{team.id}}">{{team.name}}</option>
                                        }
                                    </select> 
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>Starters</tr>
                            @for (athlete of currentTeam?.roster?.starters; track athlete.id) {
                                <tr routerLink="/athletes/{{athlete.id}}" class="clickable">
                                    <td>{{Position[athlete.position]}}</td>    
                                    <td>{{athlete.firstName}} {{athlete.lastName}}</td>    
                                    <td></td>
                                </tr>
                            }
                            <tr>Bench</tr>
                            @for (athlete of currentTeam?.roster?.bench; track athlete.id) {
                                <tr routerLink="/athletes/{{athlete.id}}" class="clickable">
                                    <td>{{Position[athlete.position]}}</td>    
                                    <td>{{athlete.firstName}} {{athlete.lastName}}</td>    
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        
            @if (league.schedule.length) {
                <div class="d-flex flex-column gap-4">
                    <div id="schedule-container">
                        @if (currentWeek > 1) {
                            <fa-icon (click)="updateCurrentWeek(-1)" [icon]="faChevronCircleLeft"/>
                        } @else {
                            <div></div>
                        }
                        
                        <div>Week {{currentWeek}} of {{siteSettings.currentSeason()}}</div>   
                        
                        @if (currentWeek < league.settings.numberOfGames){
                            <fa-icon (click)="updateCurrentWeek(1)" [icon]="faChevronCircleRight"/>
                        } @else {
                            <div></div>
                        }
                    </div>
                    <div class="d-flex flex-column gap-2 striped">
                        @for (game of this.weeklySchedule; track game.id) {
                            <div class="game-container clickable px-2" routerLink="games/{{game.id}}" target="_blank">
                                <span>{{game.home.name}} ({{game.homeScore}})</span>
                                <span class="text-center">vs</span>
                                <span>{{game.away.name}} ({{game.awayScore}})</span>
                            </div>
                        }
                    </div>
                </div>
            }
        </section>
    }
</div>
